<section class="section is-large container">
    <h1 class="title is-1">Welcome to this quickstart!</h1>
    <h2 class="subtitle">
      Get up and running with Electron, Typescript, EJS and Sass!
    </h2>
</section>