$primary-bg: #e0e0e0;

$title-bar-shadow: #1b1b1b;
$title-bar-bg: #0f0f0f;

$close-btn-hover: #fc4251;
$max-btn-hover: #5fff6c;
$min-btn-hover: #f8cb36;

$navbar-btn-primary: #D3D3D3;
$navbar-btn-secondary: #ffffff;

$modal-menu-separator: #DFDFDF;